<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="container">
     <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8 my-3">
               <h1 class="text-center">
                    Agenda
               </h1>
                <% if (contacts.length > 0){ %>
               <p class="text-center lead">
                    Seus Contatos estão abaixo.
               </p>
               <% }else{ %>
                    <p class="text-center lead">
                        Agenda vazia clique em Novo Contato 
                    </p>
               <% } %>
          </div>
               <% if (contacts.length > 0){ %>
               <div class="responsive-table">
               
                    <table class="table my-3">
                    <tr>
                         <td>Nome</td>
                         <td>Sobrenome</td>
                         <td>Email</td>
                         <td>Contato</td>   
                    </tr>
                    <% contacts.forEach(contact => { %>
                    <tr>
                         <td><%= contact.nome %></td>
                         <td><%= contact.sobrenome %></td>
                         <td><%= contact.email %></td>
                         <td><%= contact.telefone %></td>   
                         <td><a href="/contact/<%= contact._id %>">Editar</a></td>
                         <td><a class="text-danger" href="contact/delete/<%= contact._id %>">Deletar</a></td>
                    </tr>
                    <% }); %>
                    </table>
               </div>
               <% } %>
               <div class="col-lg-2">
                    
               </div>
          
     </div>
</div>
<%- include('includes/footer') %>